<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="username" value="your username" />
    <add key="password" value="your password" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAuthentication">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IAuthentication1">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ISalesLogix">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ISalesLogix1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://testapi.homelearningcollege.com/Authentication.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthentication"
                contract="FloreamAuthApi.IAuthentication" name="WSHttpBinding_IAuthentication" />
            <endpoint address="https://testapi.homelearningcollege.com/SalesLogix.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISalesLogix"
                contract="FloreamSaleslogixApi.ISalesLogix" name="WSHttpBinding_ISalesLogix" />
        </client>
    </system.serviceModel>
</configuration>
